$vl-link-visited-state: true;
$vl-pswp-assets-path: '~@govflanders/vl-ui-core/dist/img/lightbox/';
$vl-font-location: '~@govflanders/vl-ui-core/dist/font/flanders/';
$vl-icon-font-location: '~@govflanders/vl-ui-core/dist/font/iconfont/';

@import '~@govflanders/vl-ui-core/src/scss/core';
@import '~@govflanders/vl-ui-content-header/src/scss/content-header';
@import '~@govflanders/vl-ui-titles/src/scss/titles';
@import '~@govflanders/vl-ui-search/src/scss/search';
@import '~@govflanders/vl-ui-button/src/scss/button';
@import '~@govflanders/vl-ui-icon/src/scss/icon';
@import '~@govflanders/vl-ui-util/src/scss/util';
@import '~@govflanders/vl-ui-input-field/src/scss/input-field';
@import '~@govflanders/vl-ui-search-results/src/scss/search-results';
@import '~@govflanders/vl-ui-info-tile/src/scss/info-tile';
@import '~@govflanders/vl-ui-pager/src/scss/pager';
@import '~@govflanders/vl-ui-link/src/scss/link';
@import '~@govflanders/vl-ui-alert/src/scss/alert';
